---
layout: default
published: true
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
  
  <div align="left">
  <section class="share">
  <span>Share: </span>
  
    
    
      <a href="//twitter.com/share?text=Swift+and+iOS+Development+Learning+Resources&url=https%3A%2F%2Fjogendra.github.io%2F%2Fswift-and-ios-development-learning-resources&via=imjog24"
        onclick="window.open(this.href, 'twitter-share', 'width=550,height=255');return false;">
        <i class="fa fa-twitter-square fa-lg"></i>
      </a>
    
    

    
    
      <a href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fjogendra.github.io%2F%2Fswift-and-ios-development-learning-resources"
        onclick="window.open(this.href, 'linkedin-share', 'width=550,height=255');return false;">
        <i class="fa fa-linkedin-square fa-lg"></i>
      </a>
    
    
   
    
    
      <a href="//plus.google.com/share?title=Swift+and+iOS+Development+Learning+Resources&url=https%3A%2F%2Fjogendra.github.io%2F%2Fswift-and-ios-development-learning-resources"
        onclick="window.open(this.href, 'google-plus-share', 'width=550,height=255');return false;">
        <i class="fa fa-google-plus-square fa-lg"></i>
      </a>
    
    
  
    
      <a href="//www.pinterest.com/pin/create/button/?description=Swift+and+iOS+Development+Learning+Resources&url=https%3A%2F%2Fjogendra.github.io%2F%2Fswift-and-ios-development-learning-resources&media=https://jogendra.github.io//assets/page-cover.png"
        onclick="window.open(this.href, 'pinterest-share', 'width=550,height=255');return false;">
        <i class="fa fa-pinterest-square fa-lg"></i>
      </a>
    
    
      <a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent('https://jogendra.github.io//swift-and-ios-development-learning-resources') + '&title=Swift and iOS Development Learning Resources'; return false">
        <i class="fa fa-reddit-square fa-lg"></i>
      </a>
</section>
</div>
  
  
</div>
